html{
  font-size:70%;
  box-sizing:border-box;
  min-width: 255px;
}
body{
  height:100vh;
}


@media screen and (min-width:321px){
  html{
    font-size:70%;
  }
}


.grid-container{
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 56px 1fr 22px;
  height:100vh;

}
.header{
  grid-area:header;
  background-color: grey;
  color:white;
  display: flex;
  font-size: 2rem;
  padding: 0;
  align-content: center;  
  padding-bottom: 0;
  align-items: center;
  justify-content: space-between; 
}


.header button{
  margin:0.6rem;
  margin-right: 0;
  margin-left: 0.9rem;
  padding:0.3rem;
  font-size: 11.2px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
   
}
.header p{
  font-size: 22.2px;

}
.cartsign{
  justify-self: end;
   font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 0.8rem;
  
}
.cartsign *{
  margin: 0 ;
  margin-right:0.6rem ;
  padding:0;
  font-size: 15px; 
  color:white ;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}


.wel{
  font-size: 13px;
  max-width:14rem ;
  overflow: hidden;
  display:inline-block;
  margin-right:0;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;

}
.wish{
  margin-right:1.5rem;
  padding-top:0.2rem; 
}

.atc:hover{
  border:0.1rem solid grey;
  cursor: pointer;

}
.wish:hover{
  cursor: pointer;
}


.main{
  grid-area:main;

}

/* ///////////////////////////Products Home ///////////////// */

.products li a:hover{
  background-color: rgb(221, 218, 218);
 }
 
 .products li a{
 
   height:100%;
   width:100%;
   /* border:1px solid red; */
   text-decoration:none;
   display: flex;
   flex-direction: column;
   color: black;
   /* justify-items: center; */
   text-align: center;
   border-bottom: .1rem solid rgb(196, 187, 187);
   padding-bottom: 1rem;
 }

.products li{
  list-style-type: none;
  /* flex:0 1 15rem; */
  width:168px;
  height: 280px;
  margin:35.84px;

}
/* .products li a *{
  border:1px solid red;

} */
.products div{
  margin:3.36px;
}

.products img{
  
  display: block;
  max-height:100%;
  padding: 0.2rem;
  margin:auto;
  max-width: 100%;
  
  /* border: 1px solid red;  */
}
.product-rating{
  font-size:small;

}
.product-image{
width: 85%;
height:179px;
margin:auto;
overflow: hidden;
display: table-cell;
vertical-align: middle;

}



.product-name{

  /* font-size:1.2rem; */
  font-size: small;
  color:blue;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-quantity{

  font-size:medium;
  color:blue;
  font-weight: bold;
}
.product-brand{
  font-size: small;
  width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-price{
  font-size: small;
  font-weight: bold;
}


.btncside{
  
}
.sidebar{
  position: fixed;
  width:218px; 
  transform:translateX(-224px);
  background-color: rgb(230, 230, 230);
    /* background-color: rgb(175, 169, 169); */

  border-right:1.1125px solid grey;
  border-bottom:1.1125px solid grey;
  height: 100%;

  /* 
  */
}

/* .g{

  width:7rem;
  height: 9rem;

} */

/* .na{
  background-color: rgb(245, 56, 56);
} */
.sidebar ul{
  padding-left: 7.84px;
  list-style: none;
}
.sidebar ul li{
  margin-left: 29.1px;
  font-size: medium;
  color: rgb(81, 70, 102);
  margin-bottom: 11.2px;
  padding:3.36px;

}

.sidebar ul li button{
  border:none;
  background:transparent;
  margin-left:0;
  margin-bottom:0;
  padding:3.36px;
  color: rgb(62, 5, 168);
  font-size: medium;

}

.sidebar ul li a {
  color: rgb(62, 5, 168);

text-decoration: none;
}

.sco {

padding-left:4px !important;
margin-top: 6px;

}


.sco li,.sco li button{
  margin-left:1px !important;
  padding:1px !important;
  font-size: 14px !important;
  color:purple !important

}
.sco ul li{
  margin-bottom: 2px !important;
}


 .open{
  transform:translateX(0);
  transition: all 0.3s;

 }

.footer{
  background-color: grey;
  color:white;
  grid-area:footer;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 8px;
  /* background-color: grey;
  color:white;  */
  /* 
  height: 50px;
  /*  */
}

/*Edit Profile*/

.ep{
  margin-top: 33px;;
  color: rgb(136, 72, 107);
  font-size: large;
  text-align: center;
}

.ep h2{
  color:black;
  font-weight: normal;
  margin-top:60px;
  margin-bottom: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ep div{
margin-bottom: 60px;
}

.ep input{
  height: 30px;
  width:190px;
}
.ep input::placeholder{
  color: black;
}
.ep button{
  height: 50px;
  width:140px;
  color:purple;
  background-color:white;
  border: 2px solid purple;
  font-size: large;
}


/* ////////// */


 /* Register(forms),admin panel */


 .newpro{
  margin-bottom:0rem;
  padding-bottom: 11.2px;
  padding:11.2px;
  width:50%;
  background-color: hsl(315, 22%, 96%);
  margin: auto;
  margin-top: 33px;;
  color: rgb(136, 72, 107);
  font-size: medium;
  text-align: center;

}
.newpro div{
margin:auto;
 clear: both;

}

.newpro fieldset{
padding-bottom: 13.44px;
border-radius: 0rem;
border-color: rgba(140, 4, 145, 0.747);
border-width: 1.5px;

}
.newpro legend{
color: rgb(58, 6, 107);
}
.newpro *{

margin:9px;
}
.newpro label{
width: 40%;
float: left;
text-align:right ;
margin-left: 13px;
font-size: 16.8px;
margin-right: 0;
}

.newpro button{
  background-color:rgb(250, 10, 142) ;
  border-color:pink;
  margin-top:22px;
  width:67px;
  height:33px;
  padding:2.24px;
  border-radius: 0.4rem;
  color:white;
}
.newpro button:focus{
outline: none;
}

.newpro input,.newpro textarea, .newpro select{
width:30%;
text-align: left;
margin-right: 20%;
height:16.8px;


}

.social button:hover{
border:0.6rem solid red;
cursor: pointer;    
}

.social button:focus,.social button:active,.sidebar button:focus,.sidebar button:active{
  outline:none;  
  }




.social{
clear:both;
padding:1rem;
width:50%;
padding-bottom:4rem;
background-color: white;
margin: auto;
color: rgb(136, 72, 107);
font-size: medium;
text-align: center;
font-weight: normal;
}
.a{
background-color: white;
}
.a fieldset{
background-color:rgb(244, 247, 240);
}
.protable{
width:75%;
margin: 0 auto;
margin-top: 78px;


}
.protable table{
width: 100%;
margin: 0;
border-collapse: collapse;
border:1px solid purple;

}


.protable tr{
border:1px solid purple;

}
.protable a{
text-decoration: none;
color: blue;
font-size: 1.3rem;

}
.protable button{
border: none;
padding: 0;
background-color: white;
font-size: 1.2rem;
color: blue;


}

.protable button:focus,.protable button:active{
  outline:none;  
  }

.protable th{
font-size: 1.4rem;
color: purple;
padding: 0.8rem;
}

.protable td{
font-size: small;
text-align: center;
color: black;
margin: 0rem;

}


.newpro input:focus{
/* border-color: rgb(0, 102, 255); */
outline: rgb(0, 102, 255);

border-radius: 0.5rem;
border-width: 0.1rem;
/* float: right;
text-align: left;
margin-right: 20%; */

}

/* ////////////////////////////////// */

.productcart{
  display:flex;
  width:80%;
  height:7rem;
  margin:auto
}


.products{
  display: flex;
  flex-wrap: wrap;
}







/* ///////////////////////////Product ///////////////// */
.product{
  display: flex;
  /* flex-wrap: wrap; */
}

.details{
  margin:6rem;
  margin-top:60px;
  margin-left:10px;
  display: flex;
  flex-direction: column;
   width:50%;
   min-width:240px;

}
.details div{
  text-align: center;
  margin: auto;
}

.details img{
  /* min-width: 60%;
 min-height: 150px; */
 width:auto;
 height:auto;
max-height:350px;
max-width:80%;

}

.btr{
  margin-left:4rem;
  font-size: medium;
  text-decoration: none;
}
.products-image{
  padding: 4px;
  margin:auto;
  margin-top:4rem;
  margin-bottom: 2rem;
  width: 95%;
  height:380px;
  /* min-width: 25rem; */
  display: flex;
  vertical-align: middle;
  justify-content: center;
  overflow: hidden;
  
  }

.products-rating{
  font-size:medium;
  width:100%;
  overflow-wrap: break-word;


}
.products-name{
  width:100%;
  
  font-size:medium;
  color:blue;
  font-weight: bold;
  overflow-wrap: break-word;

}
.products-brand{
  font-size: 13px;
  width:100%;
  overflow-wrap: break-word;


}
.products-price{
  font-size: medium;
  font-weight: bold;
  width:100%;
  overflow-wrap: break-word;


}

.details div{
  margin:0.2rem;
  /* box-sizing: content-box; */
}

.products-description{
  font-size: medium;
  width:100%;
  overflow-wrap: break-word;
  color: orange;
}

.product-action{
  /* height:10rem; */
  width:207px;
margin:5rem;
margin-left: auto;
font-weight: bold;
font-size: medium;
/* border:0.1rem solid grey; */
border-radius: 0.4rem;
padding:1rem;
margin-bottom: 1rem;
margin-top:144px;

}
.product-action div{
  margin-bottom: 11px;
}

.product-action button{
  margin-bottom: 11px;
  width: 190px;
  border:none;
  height:33px;

}

.product-action button:active, .product-action button:focus{
outline:none;
}








.wishlist h1{
  color:rgba(207, 19, 135, 0.699);
   margin:auto;
   text-align: center;
   margin-bottom: 2rrem;
}

.wishlist ul{
  padding-left: 3px;
}

.wishlist li{

  display:flex;
  width: 95%;
  max-width: 800px;
  margin: auto;
  border: 0.03rem solid lightgrey;
  margin-bottom:7px;
  height:160px;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  border-bottom:0rem;

}

.carttotal{
  width: 95%;
  max-width: 800px;
  margin: auto;

}

.carttotal p::after{
  clear:both;

}


.carttotal p{
margin:3px;
width:170px;
clear:both;


}
.carttotal p span{
  float: right;
}



.wish-image{
  width: 30%;
  padding: 7px;

}
.wish-image img{
max-width: 100%;
max-height: 100%;
display:block;
margin:auto;

}
.wish-details{
  display: flex;
  flex-direction: column;
padding:10px ;
justify-content: center;
}

.wish-details div{
  margin-bottom: 4px;
}

.wishlist a{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 91%;
  text-decoration: none;

}
.wish-action{
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  
  justify-content: flex-end;
}

.wish-action .atc{
  color:rgb(240, 84, 180);
  border: none;
  background-color: transparent;
  font-weight: bold;
}
.wish-action .del{
  border: none;
  padding:0;
  background-color: transparent;
  margin-right: 2rem;
}
.wish-action .del:focus,.wish-action .del :active,.wish-action .atc:focus,.wish-action .del :active{
  outline:none;  
  }

.contact{
  margin-bottom:0rem;
  padding-bottom: 1.4rem;
  padding:1rem;
  width:60%;
  margin: auto;
  margin-top: 3rem;
  color: rgb(136, 72, 107);
  font-size: medium;
  text-align: center;

}
.contact *{
  margin-bottom:3rem;
}
.contact legend{
  color:orange;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
.contact fieldset{
  border: none;
}
.contact input{
  width:50%;
  height:4rem;
  border-radius: 0.3rem;
  border-width: 0.1rem;
  margin-right:0.7rem;
  margin-left: 0;
  flex-basis: 50%;
}
.contact div{
  margin: 0;
}
.contact button{
  background-color: orange;
  float:right;
  height:2.6rem;
  color:white;
  border:none;
}
.contact .subject{
  width:100%;
  
}
.contact textarea{
  width:100%;
  height:15rem;
  border-radius: 0.3rem;
  border-width: 0.1rem;
  box-sizing: border-box;

}

/* .social button:focus,.social button:active .social button:hover{
border:0.1rem solid  rgb(0, 153, 255);
cursor: pointer;


} */

/* .social button:hover{
  border:1rem solid  rgb(0, 153, 255);
  cursor: pointer;

  } */




 
/* 
.newpro textarea{
  width:30%;
  text-align: left;
  margin-right: 20%;
} */
.addaddress{
  width:40%;
  margin:11px auto;
  border:0.3rem solid grey;
  padding:22px;
}


.addaddress input{
width:100%;
margin:0.7rem;
padding:0.2rem;
height:33px;
}

.addsel input:checked:after{
  background-color:orange;
  height: 7rem;
  border: orange;
}

.addsel:hover{
border-radius: 0.8rem;
background-color: palegoldenrod;
}
.na:hover{
  cursor:pointer
}

.sortfilter{

margin:auto;
margin-top:15px;
width:160px;

}
.sortfilter button{
border:none;
padding:0;
background:white;
}

.sortfilter span{
  font-size:12px;
  padding:0.7rem;
  /* border: 0.01rem solid rgb(207, 193, 193); */
  border-radius:0.4rem;
}

.sortfilter button:active,.sortfilter button:focus,.fouter button:active,.fouter button:focus{
outline: none;
border: none;
cursor: pointer;
}
.sortfilter input{
  float:right;
  font-size: 0.3rem;
    height:1rem;
    width:1rem;
    clear: right;
}

/* .sfb:active,.sfb:hover{
  outline: none;
} */
.sortoptions{

  width:224px;
  margin:auto;
  padding:0;
  /* border:0.1rem solid lightgrey; */
  border: 0.01rem solid rgb(207, 193, 193);
  font-size: 11.2px;
  /* font-weight: lighter; */


}
.sortoptions ul{
  
  font-weight:5rem;
  list-style: none;
  padding: 2.24px;
  padding-left: 21.28px;
  clear: both;
}



/* //filter/////// */

.fouter{
  font-size:medium;
  margin: auto;
  margin-top: 40px;
  width: 70%;
  clear: both;
  padding: 2rem;
  height: auto;
}
.finner{
  overflow:auto;
  clear:both;
  width:100%;
}


.finner1{
  height:100%;
  width:32%;
  float:left;
  margin:0;
  background-color:whitesmoke;
}

.finner1 li{
  text-align: center;
  padding: 5px;
}

.finner1 li button{
  background-color: transparent;
}

.finner2{

overflow:auto;
height:100%;
width:60%;
border:0.08rem solid grey;
margin:0;
padding-left:7%;
float:right;
clear:right;
padding-top:2rem;
font-size:1.5rem;

}


.fouter h2{
font-size:larger;
font-family:serif;
clear:both;
color:blue;
margin-top:0;
  margin-bottom:17.9px;
}

.fouter ul{
 list-style:none;
 font-weight:lighter;
 padding-left: 0;
}

.filbttn{
  clear:both;

}

.filbttn button a{
  display: inline-block;
  width: 100%;
  height: 60%;

}

.filbttn button{
  background-color: rgb(65, 98, 245);
  border:0.07rem solid black;
   width:50%;
   height:3rem;
   font-size:medium;
   color:white;
   box-sizing: border-box;
}

.fouter li button{
  color:purple;
  border:none;
  font-family:cursive;
  font-size:1.5rem;
  margin:1.2rem;

}


.fouter button:hover,.fouter button:active{
  border:0.08rem solid white
  

}

.filinput{
  font-size:medium;
  margin-right:2rem;
  margin-bottom:1.6rem;
}

.search{
  width: 35% ;
  margin: auto;
  height: 3.7rem ;
}

.i{
  display: inline-block;
  width: 300px ;
  height: 30px ; 
  margin: auto;
}

.search input,.i input{
  color: black;
  font-size: small;
  width:85%;
  height: 100%;
  border-radius: 5.6px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
box-sizing: border-box;
border: 0.8px solid rgb(207, 193, 193);
border-right: 0;
margin-right: 0;
padding:0;

}
.search button,.i button{
  width: 10%;
  height: 100%;
  background-color: rgba(255, 166, 0, 0.815);
  font-weight: bold;

  border:none;
  border-radius:5.6px ;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-sizing: border-box;
  border: 0.8px solid rgb(207, 193, 193);
  border-left: 0;
  margin-left: 0;
  padding: 0;
 }


.empty{
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
  width:60%;

}
.empty div{
  font-size: 10rem;
 color:rgb(240, 84, 180);
 padding: 0;
 text-align:center;

}
.empty h2,.empty h1,.empty a{
  text-align: center;
  font-weight: normal;
  color: crimson;
}
.empty button{
  width:14rem;
  height: 3.8rem;
  border-radius: 0.7rem;
  background-color: purple;
  color: white;
  text-align: center;
  display: inline-block;
  margin-top: 2rem;
  margin-top: 0;

}
.cartptp{
  text-align: center;
  margin-top: 36px;

}

.cartptp button{
  width:150px;
  height: 42px;
  border-color: transparent;
  border-radius: 0.4rem;
  background-color: rgb(245, 176, 49);
  /* color: white; */
  text-align: center;
  display: inline-block;
  cursor: pointer;


}

.checkout{
  width:60%;
  margin:auto;
  padding:2rem;

}
.checkout div{
margin-bottom: 6px;
border:0.1rem solid lightgrey;
height:67px;
border-radius: 0.5rem;
padding:11px;
box-sizing: border-box;
background: white;


}
.checkout h1{
  font-size: x-large;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.checkout input{
height:1.7rem;
width:1.7rem;
vertical-align: middle;
margin:2rem ;

}
.checkout label{
font-size: medium;
font-weight: bold;
}
.checkout button{
  background-color: rgb(248, 175, 38);
  width:37%;
  border-radius: 0.4rem ;
  height: 44px;
  font-weight: bold;
  border: none;
  display: block;
  margin: 33px auto;

}
.checkout button:active,.checkout button:focus,.cartptp button:active,.cartptp button:focus,.empty button:active,.empty button:focus{
  outline: none;

}

@media screen and (max-width:500px){
  html{
    font-size:40%;
  }
  .search{
    width: 100% ;
    max-width: 300px;
    height: 32px;
    overflow: hidden;
  }



  .wel{
   font-size:1.3rem;
   padding-bottom: 0.4rem;

  }
  .cartsign *{
   font-size:1.6rem ;
  }
  .header p{
font-size: 18px;
  }
  .products{
padding: 2px;
margin-top: 6rem;  }

.products li{
  padding:2px;
  margin: 1px ;
  width: 45%;
  margin-bottom: 3rem;
}

.newpro{
  width:90%;
}
.addaddress{
  width:80%;
}
.newpro label{
  float: none;
  margin: auto;
  
}
.newpro label:after{
  content: "\A";
  white-space: pre;
}
.newpro input,.newpro textarea{
  float: none;
  margin: auto;
  width: 80%;

}
.a label{
  font-size: small;
}
.a{
  width:300px;
}
.products-image {
  max-height: 250px;
}

.checkout{
  width:95%;
}
.checkout h1{
  font-size: medium;
}
.checkout label{
  font-size: small;
}
.sidebar *{
  font-size: small !important;
}
.sco li button{
font-size: 12px !important;
}

}

@media screen and (max-width:680px) {
  .product{
    display: block;
  }
  .details{
    width:80%;
    margin-bottom: 38px;

  }
  .product-action{
    margin-left: 23%;
    margin-top: 6px;
  }
}

@media screen and (min-width:501px) and (max-width:750px){
 .newpros{
   width:90%;
 }
 .addaddress{
  width:60%;
}
}

@media screen and (min-width:850px){
  .search{
    height:32px;
  }
}








