html{
  font-size:70%;
  box-sizing:border-box;
  min-width: 255px;
}

.csvg{
  margin-right: 2px;
}
.csvg *{
  margin-right: 0;
   }
 .cbrack{

     font-size: small;
   }

.wel{
  font-size: 13px;
  max-width:14rem ;
  overflow: hidden;
  display:inline-block;
  margin-right:0;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;

}
.
.product-image{
width: 85%;
height:179px;
margin:auto;
overflow: hidden;
display: table-cell;
vertical-align: middle;

}



.product-name{

  /* font-size:1.2rem; */
  font-size: small;
  color:blue;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}


.newpro fieldset{
padding-bottom: 13.44px;
border-radius: 0rem;
border-color: rgba(140, 4, 145, 0.747);
border-width: 1.5px;

}
.newpro legend{
color: rgb(58, 6, 107);
}
.newpro *{

margin:9px;
}
.newpro label{
width: 40%;
float: left;
text-align:right ;
margin-left: 13px;
font-size: 16.8px;
margin-right: 0;
}

.newpro button{
  background-color:rgb(250, 10, 142) ;
  border-color:pink;
  margin-top:22px;
  width:67px;
  height:33px;
  padding:2.24px;
  border-radius: 0.4rem;
  color:white;
}
.newpro button:focus{
outline: none;
}

.newpro input,.newpro textarea, .newpro select{
width:30%;
text-align: left;
margin-right: 20%;
height:16.8px;


}

.social button:hover{
border:0.6rem solid red;
cursor: pointer;    
}

.social button:focus,.social button:active,.sidebar button:focus,.sidebar button:active{
  outline:none;  
  }




.social{
clear:both;
padding:1rem;
width:50%;
padding-bottom:4rem;
background-color: white;
margin: auto;
color: rgb(136, 72, 107);
font-size: medium;
text-align: center;
font-weight: normal;
}
.a{
background-color: white;
}
.a fieldset{
background-color:rgb(244, 247, 240);
}
.protable{
width:75%;
margin: 0 auto;
margin-top: 78px;


}
.protable table{
width: 100%;
margin: 0;
border-collapse: collapse;
border:1px solid purple;

}


.protable tr{
border:1px solid purple;

}
.protable a{
text-decoration: none;
color: blue;
font-size: 1.3rem;

}
.protable button{
border: none;
padding: 0;
background-color: white;
font-size: 1.2rem;
color: blue;


}

.protable button:focus,.protable button:active{
  outline:none;  
  }

.protable th{
font-size: 1.4rem;
color: purple;
padding: 0.8rem;
}

.protable td{
font-size: small;
text-align: center;
color: black;
margin: 0rem;

}


.newpro input:focus{
/* border-color: rgb(0, 102, 255); */
outline: rgb(0, 102, 255);

border-radius: 0.5rem;
border-width: 0.1rem;
/* float: right;
text-align: left;
margin-right: 20%; */

}

/* ////////////////////////////////// */

.productcart{
  display:flex;
  width:80%;
  height:7rem;
  margin:auto
}


.products{
  display: flex;
  flex-wrap: wrap;
}







/* ///////////////////////////Product ///////////////// */
.product{
  display: flex;
  /* flex-wrap: wrap; */
}

.details{
  margin:6rem;
  margin-top:60px;
  margin-left:10px;
  display: flex;
  flex-direction: column;
   width:50%;
   min-width:240px;

}
.details div{
  text-align: center;
  margin: auto;
}

.details img{
  /* min-width: 60%;
 min-height: 150px; */
 width:auto;
 height:auto;
max-height:350px;
max-width:80%;

}

.btr{
  margin-left:4rem;
  font-size: medium;
  text-decoration: none;
}
.products-image{
  padding: 4px;
  margin:auto;
  margin-top:4rem;
  margin-bottom: 2rem;
  width: 95%;
  height:380px;
  /* min-width: 25rem; */
  display: flex;
  vertical-align: middle;
  justify-content: center;
  overflow: hidden;
  
  }

.products-rating{
  font-size:medium;
  width:100%;
  overflow-wrap: break-word;


}
.products-name{
  width:100%;
  
  font-size:medium;
  color:blue;
  font-weight: bold;
  overflow-wrap: break-word;

}
.products-brand{
  font-size: 13px;
  width:100%;
  overflow-wrap: break-word;


}
.products-price{
  font-size: medium;
  font-weight: bold;
  width:100%;
  overflow-wrap: break-word;


}
}
.sortoptions ul{
  
  font-weight:5rem;
  list-style: none;
  padding: 2.24px;
  padding-left: 21.28px;
  clear: both;
}



/* //filter/////// */

.fouter{
  font-size:medium;
  margin: auto;
  margin-top: 40px;
  width: 70%;
  clear: both;
  padding: 2rem;
  height: auto;
}
.finner{
  overflow:auto;
  clear:both;
  width:100%;
}


.finner1{
  height:100%;
  width:32%;
  float:left;
  margin:0;
  background-color:whitesmoke;
}

.finner1 li{
  text-align: center;
  padding: 5px;
}

.finner1 li button{
  background-color: transparent;
}

.finner2{

overflow:auto;
height:100%;
width:60%;
border:0.08rem solid grey;
margin:0;
padding-left:7%;
float:right;
clear:right;
padding-top:2rem;
font-size:1.5rem;

}


.fouter h2{
font-size:larger;
font-family:serif;
clear:both;
color:blue;
margin-top:0;
  margin-bottom:17.9px;
}

.fouter ul{
 list-style:none;
 font-weight:lighter;
 padding-left: 0;
}

.filbttn{
  clear:both;

}

.filbttn button a{
  display: inline-block;
  width: 100%;
  height: 60%;

}

.filbttn button{
  background-color: rgb(65, 98, 245);
  border:0.07rem solid black;
   width:50%;
   height:3rem;
   font-size:medium;
   color:white;
   box-sizing: border-box;
}

.fouter li button{
  color:purple;
  border:none;
  font-family:cursive;
  font-size:1.5rem;
  margin:1.2rem;

}


.fouter button:hover,.fouter button:active{
  border:0.08rem solid white
  

}

.filinput{
  font-size:medium;
  margin-right:2rem;
  margin-bottom:1.6rem;
}

.search{
  width: 35% ;
  margin: auto;
  height: 3.7rem ;
}

.i{
  display: inline-block;
  width: 300px ;
  height: 30px ; 
  margin: auto;
}

.search input,.i input{
  color: black;
  font-size: small;
  width:85%;
  height: 100%;
  border-radius: 5.6px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
box-sizing: border-box;
border: 0.8px solid rgb(207, 193, 193);
border-right: 0;
margin-right: 0;
padding:0;

}
.search button,.i button{
  width: 10%;
  height: 100%;
  background-color: rgba(255, 166, 0, 0.815);
  font-weight: bold;

  border:none;
  border-radius:5.6px ;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-sizing: border-box;
  border: 0.8px solid rgb(207, 193, 193);
  border-left: 0;
  margin-left: 0;
  padding: 0;
 }


.empty{
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
  width:60%;

}
.empty div{
  font-size: 10rem;
 color:rgb(240, 84, 180);
 padding: 0;
 text-align:center;

}
.empty h2,.empty h1,.empty a{
  text-align: center;
  font-weight: normal;
  color: crimson;
}
.empty button{
  width:156px;
  height: 42px;
  border-radius: 0.7rem;
  background-color: purple;
  color: white;
  text-align: center;
  display: inline-block;
  margin-top: 2rem;
  margin-top: 0;

}
.cartptp{
  text-align: center;
  margin-top: 36px;

}

.cartptp button{
  width:150px;
  height: 42px;
  border-color: transparent;
  border-radius: 0.4rem;
  background-color: rgb(245, 176, 49);
  /* color: white; */
  text-align: center;
  display: inline-block;
  cursor: pointer;


}

.checkout{
  width:60%;
  margin:auto;
  padding:2rem;

}

@media screen and (max-width:500px){
  html{
    font-size:40%;
  }
  .search{
    width: 100% ;
    max-width: 300px;
    height: 32px;
    overflow: hidden;
  }

  .empty button{
    font-size: x-small;
    width:110px;
    height: 40px;
    border-radius:5px;
   
  }

  .wel{
   font-size:1.3rem;
   padding-bottom: 0.4rem;

  }
  .cartsign *{
   font-size:1.6rem ;
  }


  .header p{
font-size: 18px;
  }
  .products{
padding: 2px;
margin-top: 6rem;  }

.products li{
  padding:2px;
  margin: 1px ;
  width: 45%;
  margin-bottom: 3rem;
}

.newpro{
  width:90%;
}
.addaddress{
  width:80%;
}
.newpro label{
  float: none;
  margin: auto;
  
}








